*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}


.parent{
    height: 747px;
    width: 1510px;
    margin: auto;
    position: relative;
}

.header{
    height: 747px;
    width: 1510px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;


    background-image:url(..//img/img.png);
    background-color: #252B49;
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;

}


.banner__button__FOM{
    position: absolute;
    background: #FF4343;
    height: 77.57575988769531px;
    width: 369px;
    left: 571px;
    top: 549.42431640625px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.banner__H1{
    height: 150px;
    border-radius: nullpx;
    flex-wrap: nowrap;  
    margin-top: 230px;  
    

}
h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__nav__active{
    background-image:url(..//img/ACTIVE.png);
    height: 25.74px;
    width: 120.44px;
    left: 170px;
    top: 38.36px;
    border-radius: 0px;
    display: inline-flex;

    position: absolute;

}

.header__nav__box{
    background-image:url(..//img/BOX.png);
    height: 25.72px;
    width: 60.40px;
    left: 293.45px;
    top: 38.36px;;;
    border-radius: 0px;
    position: absolute;
}

.header__nav__lorem{
    position: absolute;
    left: 170px;
    right: 170px;
    top: 411.43px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.header__line{
    position: absolute;
width: 1170px;
height: 0px;
left: 170px;
top: 100px;

border: 1px solid #BABBC5;
}

.menu{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: inline;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

ul{
    display: inline-flex;
    position: absolute;
    right: 200px;
    top: 44px;
}

ul li{
    display: inline;
    margin-left: 50px;
  }

ul li:nth-child(2) {
    margin-left: 75px;
  }

ul li:nth-child(3) {
    margin-left: 80px;
  }


  a:hover{

    padding-bottom: 44px;
    border-bottom: 3px solid #BABBC5;
  }


 h6{
    display: inline;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-right: 1;
    color: #FFFFFF;
  }

.menu a{text-decoration: none;
    color: #FFFFFF;}
 
    .parent2{
        height: 747px;
        width: 1510px;
        margin: auto;
        position: relative;
    }

    .block2{
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        flex-wrap: wrap;
        position: relative;

        width: 1510px;
        margin: auto;
    }

.block2__item1_top{
    background-image:url(../img/2_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    top: 125px;
    left: 315px;
position: relative;

}

.block2__item2_top{
    background-image:url(../img/2_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 100px;
    top: 125px;
    left: 208px;
position: relative;

}

.block2__item3_top{
    background-image:url(../img/2_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 72px;
    height: 100px;
    top: 120px;
    left: 113px;
position: relative;

}

.block2__item4_top{
    background-image:url(../img/2_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 83px;
    height: 100px;
    top: 420px;
    left: 314px;
position: relative;

}

.block2__item5_top{
    background-image:url(../img/2_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    top: 417px;
    left: 212px;
position: relative;

}

.block2__item6_top{
    background-image:url(../img/2_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 100px;
    top: 424px;
    left: 105px;
position: relative;

}

.block2__item1_center{
    position: absolute;
    top: 266px;
    left: 235px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #2D3033;

}

.block2__item2_center{
    position: absolute;
    top: 266px;
    left: 640px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #2D3033;

}

.block2__item3_center{
    position: absolute;
    top: 266px;
    left: 1056px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #2D3033;

}

.block2__item4_center{
    position: absolute;
    top: 661px;
    left: 280px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #2D3033;

}

.block2__item5_center{
    position: absolute;
    top: 661px;
    left: 669px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #332d2e;

}

.block2__item6_center{
    position: absolute;
    top: 661px;
    left: 1025px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #2D3033;

}

.block2__item1_bottom{
    position: absolute;
    width: 370px;
    top: 337px;
    left: 170px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
    color: #6C7279;

}

.block2__item2_bottom{
    position: absolute;
    width: 370px;
    top: 337px;
    left: 571px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
    color: #6C7279;

    max-width: calc(100%/3);

}

.block2__item3_bottom{
    position: absolute;
    width: 370px;
    top: 337px;
    left: 969px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
    color: #6C7279;

    max-width: calc(100%/3);

}

.block2__item4_bottom{
    position: absolute;
    width: 370px;
    top: 731px;
    left: 170px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
    color: #6C7279;

    max-width: calc(100%/3);

}

.block2__item5_bottom{
    position: absolute;
    width: 370px;
    top: 731px;
    left: 571px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
    color: #6C7279;

    max-width: calc(100%/3);

}

.block2__item6_bottom{
    position: absolute;
    width: 370px;
    top: 732px;
    left: 971px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
    color: #6C7279;

}

.block3{
    display: grid;
    grid-template-columns: calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6) calc(100%/6);
    flex-wrap: wrap;
    position: relative;
    width: 1510px;
    margin: auto;
}

.block3__img1{
    background-image:url(../img/work_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 747px;
    left: 0px;
position: absolute;
}

.block3__img2{
    background-image:url(../img/work_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 747px;
    left: 378px;
    position: absolute;
}
.block3__img3{
    background-image:url(../img/Rectangle\ 17.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 747px;
    left: 756px;
    position: absolute;
}

.block3__img3:hover{

    Width: 378px;
    Height: 340px;
    top: 747px;
    left: 756px;
    position: absolute;
    background-color: rgba(255, 67, 67, 0.8);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;


}

.block3__item3_top{
    margin-left: 99px;
    margin-top: 127px;
position: absolute;


font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.block3__item3_center{
    margin-left: 99px;
    margin-top: 192px;
    position: absolute;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.block3__img4{
    background-image:url(../img/work_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 747px;
    left: 1134px;
    position: absolute;
}
.block3__img5{
    background-image:url(../img/work_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 1087px;
    left: 0px;
    position: absolute;
}
.block3__img6{
    background-image:url(../img/work_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 1087px;
    left: 378px;
    position: absolute;
}
.block3__img7{
    background-image:url(../img/work_7.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 1087px;
    left: 756px;
    position: absolute;
}
.block3__img8{
    background-image:url(../img/work_8.png);
    background-repeat: no-repeat;
    background-size: contain;
    Width: 378px;
    Height: 340px;
    top: 1087px;
    left: 1134px;
    position: absolute;
}

.parent4{
    height: 747px;
    width: 1510px;
    margin: auto;
    position: relative;
}

.block4{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    flex-wrap: wrap;
    position: relative;

    width: 1510px;
    margin: auto;
    border: #FF4343 2px solid;
}

.block4__item1_pic{
    background-image:url(../img/Rectangle\ 24.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 270px;
    top: 1538px;
    left: 166px;
    position: absolute;
}

.block4__item2_pic{
    background-image:url(../img/Rectangle\ 25.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 270px;
    top: 1538px;
    left: 466px;
    position: absolute;
}

.block4__item3_pic{
    background-image:url(../img/Rectangle\ 26.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 270px;
    top: 1538px;
    left: 766px;
    position: absolute;
}

.block4__item4_pic{
    background-image:url(../img/Rectangle\ 27.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 270px;
    top: 1538px;
    left: 1066px;
    position: absolute;
}

.block4__item1_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    width: 270px;
    height: 270px;
    top: 1718px;
    left: 166px;
    position: absolute;
}

.block4__item2_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    width: 270px;
    height: 270px;
    top: 1718px;
    left: 466px;
    position: absolute;
}

.block4__item3_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    width: 270px;
    height: 270px;
    top: 1718px;
    left: 766px;
    position: absolute;
}

.block4__item4_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    width: 270px;
    height: 270px;
    top: 1718px;
    left: 1066px;
    position: absolute;
}

.block4__item1_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FF4343;
    width: 270px;
    height: 270px;
    top: 1748px;
    left: 166px;
    position: absolute;
}

.block4__item2_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FF4343;
    width: 270px;
    height: 270px;
    top: 1748px;
    left: 466px;
    position: absolute;
}

.block4__item3_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FF4343;
    width: 270px;
    height: 270px;
    top: 1748px;
    left: 766px;
    position: absolute;
}

.block4__item4_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FF4343;
    width: 270px;
    height: 270px;
    top: 1748px;
    left: 1066px;
    position: absolute;
}


.block4__item1_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #6C7279;
    width: 270px;
    height: 270px;
    top: 1862px;
    left: 166px;
    position: absolute;
}

.block4__item2_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #6C7279;
    width: 270px;
    height: 270px;
    top: 1862px;
    left: 466px;
    position: absolute;
}

.block4__item3_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #6C7279;
    width: 270px;
    height: 270px;
    top: 1862px;
    left: 766px;
    position: absolute;
}

.block4__item4_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #6C7279;
    width: 270px;
    height: 270px;
    top: 1862px;
    left: 1066px;
    position: absolute;
}
.block4__item1_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 132px;
    height: 51px;
    top: 2115px;
    left: 163px;
    position: absolute;
}

.block4__item2_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 132px;
    height: 51px;
    top: 2115px;
    left: 463px;
    position: absolute;
}

.block4__item3_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 132px;
    height: 51px;
    top: 2115px;
    left: 763px;
    position: absolute;
}

.block4__item4_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 132px;
    height: 51px;
    top: 2115px;
    left: 1063px;
    position: absolute;
}