*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .parent{
        width: 1510px;
    }  
    .header{
        width: 1510px;
    }  
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px)  {
    .parent{
        width: 1024px;
    }  
    .header{
        width: 1024px;
    }  
}

.parent{
    height: 747px;
    margin: 0 auto;
    position: relative;
}

.header{
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    background-color: #252B49;
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .header{
        height: 747px;
        background-image:url(..//img/img.png);
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .header{
        height: 768px;
        background-image:url(..//img/img_tablet.png);
    }
}

.banner__button__FOM{
    position: absolute;
    background: #FF4343;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .banner__button__FOM{
    width: 369px;
    height: 77px;
    left: 571px;
    top: 549.42431640625px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .banner__button__FOM{
    width: 313px;
    height: 77px;
    left: 356px;
    top: 564px;
    }
}

.banner__H1{
    height: 150px;
    border-radius: nullpx;
    flex-wrap: nowrap;  
    margin-top: 230px;  
}

h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 75px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    h1{
        font-size: 64px;
    } 
}
    
    /* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    h1{
        font-size: 48px;
        padding-top: 28px;
        line-height: 56px;
    } 
}

.header__nav__active{
    background-image:url(..//img/ACTIVE.png);
    height: 25.74px;
    width: 120.44px;
    border-radius: 0px;
    display: inline-flex;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .header__nav__active{
        left: 170px;
        top: 38px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .header__nav__active{
        left: 20px;
        top: 38px;
    }
}

.header__nav__box{
    background-image:url(..//img/BOX.png);
    height: 25.72px;
    width: 60.40px;
    border-radius: 0px;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .header__nav__box{
        left: 293px;
        top: 38px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .header__nav__box{
        left: 143px;
        top: 38px;
    }
}

.header__nav__lorem{
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
.header__nav__lorem{
    left: 241px;
    top: 411.43px;
    font-size: 24px;
    line-height: 28px;
    width: 1030px;
}
.header__nav__lorem::before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.";
}
}
        
    /* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
.header__nav__lorem{
    left: 127px;
    top: 431px;
    font-size: 18px;
    line-height: 22px;
    width: 770px;
}
.header__nav__lorem::before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.";
}
}

.header__line{
    position: absolute;
    height: 0px;
    border: 1px solid #BABBC5;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .header__line{
        width: 1170px;
        left: 170px;
        top: 100px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .header__line{
        width: 984px;
        left: 20px;
        top: 100px;
    }
}

.menu{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: inline;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

ul{
    display: inline-flex;
    position: absolute;
    top: 44px;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
ul{
    right: 200px;
}
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
ul{
    right: 40px;
}
}

  /* Desktop */
@media screen and (min-width: 1510px)  {
    ul li{
        margin-left: 50px;
    }
}
    
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    ul li{
        margin-left: 26px;   
    }
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    ul li:nth-child(2){
        margin-left: 75px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    ul li:nth-child(2){
        margin-left: 54px;
    }
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    ul li:nth-child(3){
        margin-left: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    ul li:nth-child(3){
        margin-left: 54px;
    }
}

a:hover{
    padding-bottom: 38px;
    border-bottom: 3px solid #BABBC5;
}

 h6{
    display: inline;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-right: 1;
    color: #FFFFFF;
  }

.menu a{text-decoration: none;
    color: #FFFFFF;}
 
.parent_2{
    height: 747px;
    width: 1510px;
    margin: auto;
    position: relative;
    padding-top: 125px;
}

.block2{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    justify-content: center;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2{
        width: 1510px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2{
        width: 1024px;
    }
}

.block2__item1{
    width: 400px;
/* justify-content: center; */
}
.block2__item2{
    width: 400px;}
.block2__item3{
    width: 400px;}
.block2__item4{
    width: 400px;}
.block2__item5{
    width: 400px;}
.block2__item6{
    width: 400px;}

.block2__item1_top{
    background-image:url(../img/2_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item1_top{
        width: 80px;
        height: 100px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item1_top{
        width: 67px;
        height: 100px;
    }
}

.block2__item2_top{
    background-image:url(../img/2_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin: 0 auto;
}
/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item2_top{
        width: 90px;
        top: 10px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item2_top{
        width: 75px;
    }
}

.block2__item3_top{
    background-image:url(../img/2_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 72px;
    height: 100px;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item3_top{
        width: 72px;
        margin-top: -5px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item3_top{
        width: 62px;
    }
}

.block2__item4_top{
    background-image:url(../img/2_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 83px;
    height: 100px;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item4_top{
        width: 83px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item4_top{
        width: 70px;
    }
}

.block2__item5_top{
    background-image:url(../img/2_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item5_top{
        width: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item5_top{
        width: 70px;
    }
}

.block2__item6_top{
    background-image:url(../img/2_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 100px;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item6_top{
        width: 90px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item6_top{
        width: 80px;
    }
}

.block2__item1_center{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item1_center{
        font-size: 24px;
        top: 266px;
        left: 235px;
        padding: 42px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item1_center{
        font-size: 18px;
        top: 204px;
        left: 87px;
    }
}

.block2__item2_center{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
}
/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item2_center{
        font-size: 24px;
        top: 266px;
        left: 640px;
        padding: 42px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item2_center{
        font-size: 18px;
        top: 204px;
        left: 425px;
    }
}

.block2__item3_center{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;

}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item3_center{
        font-size: 24px;
        top: 266px;
        left: 1055px;
        padding: 42px 0 0 0;
        margin-top: 5px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item3_center{
        font-size: 18px;
        top: 204px;
        left: 772px;
    }
}

.block2__item4_center{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item4_center{
        font-size: 24px;
        top: 661px;
        left: 280px;
        padding: 42px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item4_center{
        font-size: 18px;
        top: 492px;
        left: 121px;
    }
}

.block2__item5_center{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #332d2e;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item5_center{
        font-size: 24px;
        top: 661px;
        left: 669px;
        padding: 42px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item5_center{
        font-size: 18px;
        top: 492px;
        left: 446px;
    }
}

.block2__item6_center{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
    padding: 42px 208px 0 0;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item6_center{
        font-size: 24px;
        top: 661px;
        left: 1025px;
        padding: 42px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item6_center{
        font-size: 18px;
        top: 492px;
        left: 749px;
    }
}

.block2__item1_bottom{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: #6C7279;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item1_bottom{
        font-size: 18px;
        width: 370px;
        line-height: 21px;
        padding: 43px 0 0 0;
        margin-bottom: 97px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item1_bottom{
        font-size: 14px;
        width: 320px;
        line-height: 16px;
    }
}

.block2__item2_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #6C7279;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item2_bottom{
        font-size: 18px;
        width: 370px;
        line-height: 21px;
        padding: 43px 0 0 0;
        margin-bottom: 97px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item2_bottom{
        font-size: 14px;
        width: 320px;
        line-height: 16px;
    }
}

.block2__item3_bottom{
    width: 370px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #6C7279;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item3_bottom{
        font-size: 18px;
        width: 370px;
        line-height: 21px;
        padding: 43px 0 0 0;
        margin-bottom: 97px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item3_bottom{
        font-size: 14px;
        width: 320px;
        line-height: 16px;
    }
}

.block2__item4_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: #6C7279;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item4_bottom{
        font-size: 18px;
        width: 370px;
        line-height: 21px;
        padding: 43px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item4_bottom{
        font-size: 14px;
        width: 320px;
        line-height: 16px;
    }
}

.block2__item5_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: #6C7279;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item5_bottom{
        font-size: 18px;
        width: 370px;
        line-height: 21px;
        padding: 43px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item5_bottom{
        font-size: 14px;
        width: 320px;
        line-height: 16px;
    }
}

.block2__item6_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: #6C7279;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block2__item6_bottom{
        font-size: 18px;
        width: 370px;
        line-height: 21px;
        padding: 43px 0 0 0;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block2__item6_bottom{
        font-size: 14px;
        width: 320px;
        line-height: 16px;
    }
}

.block3{
    display: grid;
    grid-template-columns: calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8) calc(100%/8);
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3{
        width: 1510px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3{
        width: 1024px;
    }
}

.block3__img1{
    background-image:url(../img/work_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img1{
        Width: 378px;
        Height: 340px;
        top: 202px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img1{
        Width: 256px;
        Height: 230px;
        top: 483px;
        left: 1px;
    }
}

.block3__img2{
    background-image:url(../img/work_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img2{
        Width: 378px;
        Height: 340px;
        top: 202px;
        left: 378px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img2{
        Width: 256px;
        Height: 230px;
        top: 202px;
        left: 256px;
    }
}

.block3__img3{
    background-image:url(../img/Rectangle\ 17.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img3{
        Width: 378px;
        Height: 340px;
        top: 202px;
        left: 756px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img3{
        Width: 256px;
        Height: 230px;
        top: 483px;
        left: 513px;
    }
}

.block3__img3:hover{

    background-color: rgba(255, 67, 67, 0.8);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.block3__img3:active{

    position: absolute;
    background-color: rgba(185, 12, 12, 0.8);
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.block3__item3_top{
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__item3_top{
        font-size: 24px;
        margin-left: 99px;
        margin-top: 127px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__item3_top{
        font-size: 18px;
        margin-left: 59px;
        margin-top: 81px;
    }
}

.block3__item3_center{
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__item3_center{
        font-size: 18px;
        margin-left: 99px;
        margin-top: 192px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__item3_center{
        font-size: 14px;
        margin-left: 58px;
        margin-top: 126px;
    }
}

.block3__img4{
    background-image:url(../img/work_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img4{
        Width: 378px;
        Height: 340px;
        top: 202px;
        left: 1134px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img4{
        Width: 256px;
        Height: 230px;
        top: 483px;
        left: 768px;
    }
}

.block3__img5{
    background-image:url(../img/work_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img5{
        Width: 378px;
        Height: 340px;
        top: 542px;
        left: 0px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img5{
        Width: 256px;
        Height: 230px;
        top: 714px;
        left: 1px;
    }
}

.block3__img6{
    background-image:url(../img/work_6.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img6{
        Width: 378px;
        Height: 340px;
        top: 542px;
        left: 378px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img6{
        Width: 256px;
        Height: 230px;
        top: 714px;
        left: 256px;
    }
}

.block3__img7{
    background-image:url(../img/work_7.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img7{
        Width: 378px;
        Height: 340px;
        top: 542px;
        left: 756px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img7{
        Width: 256px;
        Height: 230px;
        top: 714px;
        left: 513px;
    }
}

.block3__img8{
    background-image:url(../img/work_8.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block3__img8{
        Width: 378px;
        Height: 340px;
        top: 542px;
        left: 1134px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block3__img8{
        Width: 256px;
        Height: 230px;
        top: 714px;
        left: 768px;
    }
}

.parent4{
    margin: auto;
    position: relative;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .parent4{
        height: 747px;
        width: 1510px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .parent4{
        height: 768px;
        width: 1024px;
    }
}

.block4{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4{
        width: 1510px;
        left: 5px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4{
        width: 1024px;
    }
}

.block4__item1_pic{
    background-image:url(../img/Rectangle\ 24.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item1_pic{
        width: 270px;
        height: 270px;
        top: 995px;
        left: 166px;
    }
}

/* Tablet */
    @media screen and (min-width: 1024px) and (max-width: 1509px) {
        .block4__item1_pic{
            width: 227px;
            height: 227px;
            top: 1021px;
            left: 20px;
        }
}

.block4__item2_pic{
    background-image:url(../img/Rectangle\ 25.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item2_pic{
        width: 270px;
        height: 270px;
        top: 995px;
        left: 466px;
    }
}

/* Tablet */
    @media screen and (min-width: 1024px) and (max-width: 1509px) {
        .block4__item2_pic{
            width: 227px;
            height: 227px;
            top: 1021px;
            left: 273px;
        }
}

.block4__item3_pic{
    background-image:url(../img/Rectangle\ 26.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item3_pic{
        width: 270px;
        height: 270px;
        top: 995px;
        left: 766px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item3_pic{
        width: 227px;
        height: 227px;
        top: 1021px;
        left: 525px;
    }
}

.block4__item4_pic{
    background-image:url(../img/Rectangle\ 27.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item4_pic{
        width: 270px;
        height: 270px;
        top: 995px;
        left: 1066px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item4_pic{
        width: 227px;
        height: 227px;
        top: 1021px;
        left: 777px;
    }
}

.block4__item1_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    position: absolute;
    width: 270px;
    height: 270px;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item1_name{
        font-size: 24px;
        top: 1175px;
        left: 166px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item1_name{
        font-size: 18px;
        top: 1152px;
        left: 20px;
    }
}

.block4__item2_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    position: absolute;
    width: 270px;
    height: 270px;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item2_name{
        font-size: 24px;
        top: 1175px;
        left: 466px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item2_name{
        font-size: 18px;
        top: 1152px;
        left: 273px;
    }
}

.block4__item3_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    position: absolute;
    width: 270px;
    height: 270px;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item3_name{
        font-size: 24px;
        top: 1175px;
        left: 766px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item3_name{
        font-size: 18px;
        top: 1152px;
        left: 525px;
    }
}

.block4__item4_name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D3033;
    position: absolute;
    width: 270px;
    height: 270px;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item4_name{
        font-size: 24px;
        top: 1175px;
        left: 1066px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item4_name{
        font-size: 18px;
        top: 1152px;
        left: 777px;
    }
}

.block4__item1_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FF4343;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item1_position{
        width: 270px;
        top: 1330px;
        left: 166px;
        font-size: 18px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item1_position{
        top: 1301px;
        left: 20px;
        font-size: 14px;
    }
}

.block4__item2_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FF4343;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item2_position{
        width: 270px;
        top: 1330px;
        left: 466px;
        font-size: 18px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item2_position{
        top: 1301px;
        left: 272px;
        font-size: 14px;
    }
}

.block4__item3_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FF4343;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item3_position{
        width: 270px;
        top: 1330px;
        left: 766px;
        font-size: 18px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item3_position{
        top: 1301px;
        left: 525px;
        font-size: 14px;
    }
}

.block4__item4_position{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FF4343;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item4_position{
        width: 270px;
        top: 1330px;
        left: 1066px;
        font-size: 18px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item4_position{
        top: 1301px;
        left: 777px;
        font-size: 14px;
    }
}


.block4__item1_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #6C7279;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item1_txt{
        width: 270px;
        top: 1369px;
        left: 166px;
        font-size: 18px;
        line-height: 21px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item1_txt{
        width: 227px;
        top: 1342px;
        left: 20px;
        font-size: 14px;
        line-height: 16px;
    }
}

.block4__item2_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #6C7279;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item2_txt{
        width: 270px;
        top: 1369px;
        left: 466px;
        font-size: 18px;
        line-height: 21px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item2_txt{
        width: 227px;
        top: 1342px;
        left: 272px;
        font-size: 14px;
        line-height: 16px;
    }
}

.block4__item3_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #6C7279;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item3_txt{
        width: 270px;
        top: 1369px;
        left: 766px;
        font-size: 18px;
        line-height: 21px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item3_txt{
        width: 227px;
        top: 1342px;
        left: 525px;
        font-size: 14px;
        line-height: 16px;
    }
}

.block4__item4_txt{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #6C7279;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item4_txt{
        width: 270px;
        top: 1369px;
        left: 1066px;
        font-size: 18px;
        line-height: 21px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item4_txt{
        width: 227px;
        top: 1342px;
        left: 777px;
        font-size: 14px;
        line-height: 16px;
    }
}

.block4__item1_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item1_SS{
        width: 132px;
        height: 51px;
        top: 1572px;
        left: 164px;
    
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item1_SS{
        width: 132px;
        height: 51px;
        top: 1503px;
        left: 8px;
        scale: 85%;
    }
}

.block4__item2_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item2_SS{
        width: 132px;
        height: 51px;
        top: 1572px;
        left: 465px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item2_SS{
        width: 132px;
        height: 51px;
        top: 1503px;
        left: 260px;
        scale: 85%;
    }
}

.block4__item3_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item3_SS{
        width: 132px;
        height: 51px;
        top: 1572px;
        left: 765px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item3_SS{
        width: 132px;
        height: 51px;
        top: 1503px;
        left: 513px;
        scale: 85%;
    }
}

.block4__item4_SS{
    background-image:url(../img/social.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block4__item4_SS{
        width: 132px;
        height: 51px;
        top: 1572px;
        left: 1065px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block4__item4_SS{
        width: 132px;
        height: 51px;
        top: 1503px;
        left: 765px;
        scale: 85%;
    }
}

.parent5{
    margin: auto;
    position: relative;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .parent5{
        height: 747px;
        width: 1510px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .parent5{
        height: 768px;
        width: 1024px;
    }
}

.block5{
    position: relative;
    width: 1510px;
    margin: auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block5{
        width: 1510px;
        top: 1728px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block5{
        width: 1024px;
        top: 1623px;
    }
}

.block5__item1_pic{
    background-image:url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    left: 0px;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block5__item1_pic{
        Width: 740px;
        Height: 490px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block5__item1_pic{
        Width: 502px;
        Height: 332px;
    }
}

.block5__item1{
    background: #5C3249;
    Width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block5__item1{
        Height: 490px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block5__item1{
        Height: 332px;
    }
}

.block5__item2_top{
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block5__item2_top{
        font-size: 36px;
        line-height: 49px;
        top: 133px;
        left: 871px;
        padding-right: 175px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block5__item2_top{
        font-size: 24px;
        line-height: 32px;
        top: 62px;
        left: 588px;
        padding-right: 80px;
        letter-spacing: -0.6px;
    }
}

.block5__item2_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block5__item2_bottom{
        font-size: 13px;
        line-height: 15px;
        top: 353px;
        left: 869px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block5__item2_bottom{
        font-size: 12px;
        line-height: 15px;
        top: 205px;
        left: 591px;
    }
}

.parent6{
    margin: auto;
    position: relative;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .parent6{
        height: 747px;
        width: 1510px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .parent6{
        height: 768px;
        width: 1024px;
    }
}

.block6{
    position: relative;
    margin: auto;

}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block6{
        top: 2028px;
        width: 1510px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block6{
        top: 1756px;
        width: 1024px;
    }
}

.block6__item1_top{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block6__item1_top{
        top: 367px;
        left: 414px;
        font-size: 30px;
        line-height: 35px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block6__item1_top{
        top: 325px;
        left: 240px;
        font-size: 24px;
        line-height: 28px;
    }
}

.block6__item1_center{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block6__item1_center{
        top: 424px;
        left: 543px;
        font-size: 18px;
        line-height: 21px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block6__item1_center{
        top: 374px;
        left: 349px;
        font-size: 14px;
        line-height: 16px;
    }
}

.cir1{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #7e5d6f;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .cir1{
        top: 221px;
        left: 669px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .cir1{
        top: 220px;
        left: 435px;
        scale: 65%;
    }
}

.cir2{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #7e5d6f;
    background-color:#7e5d6f ;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .cir2{
        top: 221px;
        left: 708px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .cir2{
        top: 220px;
        left: 470px;
        scale: 65%;
    }
}

.cir3{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #7e5d6f;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .cir3{
        top: 221px;
        left: 747px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .cir3{
        top: 220px;
        left: 505px;
        scale: 65%;
    }
}

.cir4{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #7e5d6f;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .cir4{
        top: 221px;
        left: 786px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .cir4{
        top: 220px;
        left: 539px;
        scale: 65%;
    }
}

.cir5{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #7e5d6f;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .cir5{
        top: 221px;
        left: 825px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .cir5{
        top: 220px;
        left: 574px;
        scale: 65%;
    }
}

.btn6{
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #FF4343;
    color: #FFFFFF;
    border: none;
    height: 77px;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .btn6{
        width: 369px;
        left: 571px;
        top: 495px;
        font-size: 24px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .btn6{
        width: 313px;
        left: 356px;
        top: 436px;
        font-size: 18px;
    }
}

.btn6:active{
    background: #c9b9b9;
    }
    
.parent_7{
    margin: auto;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .parent_7{
        width: 1510px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .parent_7{
        width: 1024px;
    }
}
    
.block7{
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    background: #353C65;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block7{
        width: 1510px;
        height: 340px;
        top: 2715px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7{
        width: 1024px;
        height: 229px;
        top: 2347px;
    }
}

.block7__item1_top{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block7__item1_top{
        font-size: 18px;
        left: 310px;
        top: 71px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7__item1_top{
        font-size: 14px;
        left: 142px;
        top: 44px;
    }
}

.block7__item1_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
}

    /* Desktop */
@media screen and (min-width: 1510px)  {
    .block7__item1_bottom{
        font-size: 18px;
        left: 180px;
        top: 121px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7__item1_bottom{
        font-size: 14px;
        left: 40px;
        top: 78px;
    }
}

.block7__item2_top{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block7__item2_top{
        font-size: 18px;
        left: 673px;
        top: 71px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7__item2_top{
        font-size: 14px;
        left: 449px;
        top: 44px;
    }
}

.block7__item2_bottom{

    background-image:url(../img/social_blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block7__item2_bottom{
        width: 176px;
        height: 46px;
        top: 138px;
        left: 666px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7__item2_bottom{
        width: 176px;
        height: 46px;
        top: 89px;
        left: 424px;
        scale: 85%;
    }
}

.block7__item3_top{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block7__item3_top{
        font-size: 18px;
        left: 1072px;
        top: 71px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7__item3_top{
        font-size: 14px;
        left: 782px;
        top: 44px;
    }
}

.block7__item3_bottom{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block7__item3_bottom{
        font-size: 18px;
        line-height: 21px;
        left: 970px;
        top: 121px;
        width: 370px;
        height: 63px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block7__item3_bottom{
        font-size: 14px;
        line-height: 16px;
        left: 689px;
        top: 78px;
        width: 315px;
        height: 48px;
    }
}

.parent8{
    margin: auto;
    position: relative;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .parent8{
        height: 747px;
        width: 1510px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .parent8{
        height: 768px;
        width: 1024px;
    }
}
    
.block8{
    position: absolute;
    margin: auto;
    background: #2C3154;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: #808080;
}

/* Desktop */
@media screen and (min-width: 1510px)  {
    .block8{
        width: 1510px;
        height: 90px;
        top: 4459px;
        font-size: 18px;
        line-height: 21px;
        padding-top: 24px;
        padding-left: 570px;
        padding-right: 570px;
        left: 37px;
    }
}
        
/* Tablet */
@media screen and (min-width: 1024px) and (max-width: 1509px) {
    .block8{
        width: 1024px;
        height: 60px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 14px;
        padding-left: 355px;
        padding-right: 355px;
        top: 3463px;
    }
}

.block8 .selected_words{
    color: #ffffff;
    font-weight: bold;
}